$font-path : '/fonts/';
$image-path : '/images/';

$grid : 12;
$large : 1600px;
$medium : 1068px;
$small : 735px;
$height : 1048px;
$links : (
   'white' : #fff,
   'blue' : #08c,
   'hui' : #666,
   'hui-H' : #333,
	);